<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
                <% if(products.length>0){ %>
                <ul>
                        <%products.forEach(product=>{ %>

                        <li>
                                <%= product.productId.title%>   -  <%=product.quantity%>
                                <form action="/cart-delete-item" method="POST">
                                        <input type="hidden" name="deleteInput" value="<%=product.productId._id %>">
                                        <button type="submit">Delete</button>
                                </form>
                        </li>
                        <% }) %>
                </ul>
                <form action="/create-order" method="POST">
                        <button>Order Now!</button>
                </form>
                <% }else{ %>
                        <h2>Cart Empty!!</h2>
                 <% } %>

        </main>
        <%- include('../includes/end.ejs') %>